<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065162845238-g9k03pt5hige5173630ni2f8faejpg61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065162845238-g9k03pt5hige5173630ni2f8faejpg61</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065162845238-6eqt677acs75tcgjosi75n875i2o4b2p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9qhSJ_YJl3Gz7jS5ZV0IHWSLm0mgtsP8</string>
	<key>GCM_SENDER_ID</key>
	<string>1065162845238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talknep.user</string>
	<key>PROJECT_ID</key>
	<string>talknep</string>
	<key>STORAGE_BUCKET</key>
	<string>talknep.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065162845238:ios:b08bd87ee6fe6f78043c97</string>
</dict>
</plist>